.header {
  max-width: 650px;
  margin: 0 auto;
  padding: 0px;
}

.main-container {
  max-width: 650px;
  margin: 0 auto;
  padding: 0 1rem 1rem;
}

.theme-title {
  font-size: 3rem;
}

.color-list {
  display: grid;
  gap: 0.5rem;
}
